@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 300; }

h1, h2, h3, h4 {
  margin: 0 !important; }

h1 {
  font-size: 2.3em !important; }
  h1 .highlight-title {
    font-weight: bold; }

h2 {
  font-size: 1.6em !important; }
  h2 .highlight-title {
    font-weight: bold; }

h3 {
  font-size: 1.3em !important; }

h4 {
  font-size: 1.0em !important; }

p {
  font-size: 1.0em !important; }

#mini-header {
  background-color: #181b36;
  color: #fff;
  height: 64px; }
  #mini-header .brand-logo {
    margin-left: 5%; }
    @media (max-width: 991px) {
      #mini-header .brand-logo {
        margin-left: 0; } }

.purple-mini-header {
  background-color: #2f213e !important; }

#header {
  background-color: transparent;
  position: absolute;
  top: 0;
  box-shadow: none !important; }
  @media (min-width: 993px) {
    #header #logo {
      margin-left: 5%; } }

#main-box {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background-banner.png);
  background-attachment: fixed; }
  #main-box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic; }
  #main-box p {
    color: white;
    font-size: 1.2em !important; }
  #main-box #logo-banner {
    margin-left: auto;
    margin-right: auto; }

#events-type {
  width: 100%;
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center; }
  #events-type h1 {
    color: #42334f; }
  #events-type p {
    color: #68626d; }
  #events-type #event-cards-container {
    margin-top: 70px !important;
    height: auto; }
    #events-type #event-cards-container .event-card {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      height: 300px;
      max-height: 300px; }
      #events-type #event-cards-container .event-card:hover button {
        -webkit-box-shadow: 0 5px 0px 0px whitesmoke;
        box-shadow: 0 5px 0px 0px whitesmoke; }
      #events-type #event-cards-container .event-card hr {
        opacity: 0.2; }
      #events-type #event-cards-container .event-card p {
        height: auto; }
      #events-type #event-cards-container .event-card h4 {
        color: #68626d;
        text-transform: uppercase;
        font-weight: bold; }
      #events-type #event-cards-container .event-card button {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 10px;
        background-color: transparent;
        border: 0;
        color: #42334f;
        font-size: small;
        font-weight: bold;
        -webkit-box-shadow: 0 5px 0 0 #e5e6e6;
        box-shadow: 0 5px 0 0 #e5e6e6;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px; }
        #events-type #event-cards-container .event-card button:hover {
          text-decoration: underline; }
      #events-type #event-cards-container .event-card .img-event-type {
        min-height: 59px; }
  #events-type #options {
    margin-top: 10px; }
    #events-type #options .a-see-more {
      color: #42334f;
      font-size: small;
      font-weight: bold; }
      #events-type #options .a-see-more:hover {
        text-decoration: underline;
        cursor: pointer; }

#about-the-company {
  width: 100%;
  background-color: white;
  color: #42334f;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center; }
  #about-the-company h1 {
    color: #42334f; }
  #about-the-company p {
    color: #68626d; }
  #about-the-company #faq {
    margin-top: 50px; }
    #about-the-company #faq img {
      -moz-border-radius: 75px;
      -webkit-border-radius: 75px;
      border-radius: 75px; }
    #about-the-company #faq .a-see-more {
      color: #42334f;
      font-size: small;
      font-weight: bold; }
    #about-the-company #faq .title {
      text-align: right; }
      @media (max-width: 991px) {
        #about-the-company #faq .title {
          text-align: center;
          margin-top: 30px; } }
    #about-the-company #faq .description {
      text-align: left; }
      @media (max-width: 991px) {
        #about-the-company #faq .description {
          text-align: center;
          margin-top: 15px; } }
    #about-the-company #faq .description-left {
      text-align: left !important; }
    #about-the-company #faq .description-right {
      text-align: right !important; }
    #about-the-company #faq .description-center {
      text-align: center !important; }

#about-me {
  background-color: #181b36;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (min-width: 992px) {
    #about-me {
      background-image: url("../images/dhiego-lessa-about-me2.png");
      background-repeat: no-repeat;
      background-position-y: bottom;
      min-height: 550px; } }
  @media (max-width: 992px) {
    #about-me #info-about-page {
      text-align: center; } }
  #about-me .message {
    color: white; }
    #about-me .message .info {
      font-size: 1.3em;
      font-weight: 400; }
    #about-me .message h2 {
      font-style: italic;
      font-weight: bold; }
    #about-me .message p {
      font-size: 1.0em; }
      #about-me .message p span {
        font-weight: 800; }
      #about-me .message p .underline {
        text-decoration: underline;
        font-weight: 300; }
  #about-me #message-dhiego-lessa {
    margin-top: 5em; }
  #about-me #social-icons-dhiego-lessa {
    margin-top: 10em; }

#done-events {
  width: 100%;
  background-color: white;
  color: #42334f;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  margin-top: 15px; }
  #done-events h1 {
    color: #42334f; }
  #done-events h2 {
    color: #42334f; }
  #done-events p {
    color: #68626d; }
  #done-events .collapsible {
    border: 0 !important;
    box-shadow: none !important; }
  #done-events .collapsible-header, #done-events .collapsible-body {
    border: 0 !important;
    text-align: left; }
  #done-events .collapsible-body .indicator-item.active {
    background-color: #42334f; }
  #done-events .collapsible-body ul {
    height: 550px !important; }
  #done-events .collapsible-body .slider {
    height: 550px !important; }
  #done-events .collapsible-body .slider .slides {
    background-color: transparent;
    height: 550px; }
  #done-events .collapsible-body .item {
    padding: 0 !important;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.09); }
    @media (max-width: 992px) {
      #done-events .collapsible-body .item {
        margin-top: 30px; } }
    #done-events .collapsible-body .item h3 {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      padding-top: 15px !important; }
    #done-events .collapsible-body .item img {
      width: 100%;
      max-width: 350px; }

#testimonials {
  background-color: #2f213e;
  text-align: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px; }
  #testimonials h2 {
    font-style: italic; }
  #testimonials #testimonials-box {
    margin-top: 50px; }
  #testimonials .item {
    padding-right: 10px;
    padding-left: 10px; }
  #testimonials .left-box {
    text-align: right; }
    @media (max-width: 991px) {
      #testimonials .left-box {
        text-align: center;
        margin-top: 30px; } }
  #testimonials .right-box {
    text-align: left; }
    @media (max-width: 991px) {
      #testimonials .right-box {
        text-align: center;
        margin-top: 30px; } }
  #testimonials .a-see-more {
    color: #fff;
    font-size: small;
    font-weight: bold; }

#footer {
  width: 100%;
  height: 370px;
  color: #8c8c8c;
  text-align: center;
  margin-top: 15px !important;
  background-color: white; }
  #footer #footer-container {
    height: auto; }
    #footer #footer-container p {
      font-size: 0.9em !important;
      font-style: italic; }
    #footer #footer-container #social {
      display: flex;
      justify-content: center;
      margin-top: 40px; }
      #footer #footer-container #social .item {
        width: 32px;
        height: 32px;
        margin-right: 15px; }
      #footer #footer-container #social .last {
        margin-right: 0px !important; }
      #footer #footer-container #social #facebook {
        background-image: url("../images/facebook.png"); }
      #footer #footer-container #social #instagram {
        background-image: url("../images/instagram.png"); }
      #footer #footer-container #social #twitter {
        background-image: url("../images/twitter.png"); }

/*# sourceMappingURL=global.css.map */
