// Background-colors
$website-background-color: #f3f3f3;
$event-type-background-color: white;
$about-me-background-color: #181b36;//#26283c;
$about-the-company-background-color: white;
$done-events-background-color: white;
$testimonials-background-color: #2f213e;
$footer-background-color: white;

// Font-colors
$white-section-color-font: #42334f;
$white-section-p-color: #68626d;
$event-card-description-color: #68626d;
$event-card-button-font-color: #42334f;
$section-about-me-font-color: #ffffff;
$section-testimonials-font-color: #ffffff;
$section-footer-font-color: #8c8c8c;