#about-me {

  background-color: #181b36;
  color: #fff;

  @media (min-width: 992px) {
    background-image: url("../images/dhiego-lessa-about-me2.png");
    background-repeat: no-repeat;
    background-position-y: bottom;

    min-height: 550px;
  }

  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  #info-about-page {
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  .message {
    color: white;

    .info {
      font-size: 1.3em;
      font-weight: 400;
    }

    h2 {
      font-style: italic;
      font-weight: bold;
    }

    p {
      font-size: 1.0em;

      span {
        font-weight: 800;
      }

      .underline {
        text-decoration: underline;
        font-weight: 300;
      }
    }
  }
  #message-dhiego-lessa {
    margin-top: 5em;
  }

  #social-icons-dhiego-lessa {
    margin-top: 10em;
  }
}