#about-me {
  min-height: 100vh;

  background-color: #181b36;
  color: #fff;

  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  #content {
    width: 60%;
    text-align: right;
    float: right;
    margin-top: 80px;
  }
}