#about-me {

  background-color: #181b36;
  color: #fff;

  @media (min-width: 992px) {
    background-image: url("../images/dhiego-lessa-about-me2.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  #message-dhiego-lessa {
    margin-top: 5em;
    h2 {
      font-style: italic;
      font-weight: bold;
    }

    p {
      font-size: 1.0em;

      span {
        font-weight: 800;
      }

      .underline {
        text-decoration: underline;
        font-weight: 300;
      }
    }
  }
}