#done-events {
  width: 100%;
  background-color: $event-type-background-color;
  color: #42334f;

  padding-top: 80px;
  padding-bottom: 80px;

  text-align: center;

  margin-top: 15px;

  h1 {
    color: #42334f;
  }

  h2 {
    color: #42334f;
  }

  p {
    color: #68626d;
  }

  .collapsible {
    border: 0 !important;
    box-shadow: none !important;
  }

  .collapsible-header, .collapsible-body {
    border: 0 !important;
    text-align: left;
  }

  .collapsible-body {
    .indicator-item.active {
      background-color: #42334f;
    }
    ul {
      height: 550px !important;
    }
    .slider {
      height: 550px !important;
    }

    .slider .slides {
      background-color: transparent;
      height: 550px;
    }
    .item {
      padding: 0 !important;
      -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.09);
      -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.09);
      box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.09);

      @media (max-width: 992px) {
        margin-top: 30px;
      }
      h3 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 15px !important;
      }
      img {
        width: 100%;
        max-width: 350px;
      }
    }
  }
}