#footer {
  width: 100%;
  height: 370px;
  color: $section-footer-font-color;
  text-align: center;

  margin-top: $space-between-sections !important;
  background-color: $footer-background-color;


  #footer-container {
    height: auto;

    p {
      font-size: 0.9em !important;
      font-style: italic;
    }

    #social {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      .item {
        width: 32px;
        height: 32px;
        margin-right: 15px;
      }

      .last {
        margin-right: 0px !important;
      }
      #facebook {
        background-image: url("../images/facebook.png");
      }
      #instagram {
        background-image: url("../images/instagram.png");
      }
      #twitter {
        background-image: url("../images/twitter.png");
      }
    }
  }
}